html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

h1 {
    font-size: 1em;
    padding: 5px;
}

header {
    background-color: #cfaaed ;
    color: #000000;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
}

#filter {
    padding: 5px;
}

#menu {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: white;
}

.menu-open {
    position: absolute;
    top: 0;
    left: 0;
}

.menu-close {
    position: absolute;
    top: 0;
    left: -300px;
}

.logo-close {
    position: absolute;
    top: 0;
    right: -50px;
}

ul {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

li {
    flex: 0 1 100%;
    padding: 5px;
}

li:hover {
    background-color: lightblue;
    color: white
}

#map {
    display: flex;
    flex: 0 1 100%;
}

#cover {
    display: flex;
    flex: 0 1 100%;
}

.logo {
    margin: 5px;
    padding: 5px;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 1px solid lightgrey;
}
