doctype html
html(lang='en-us')
    head
        title Neighborhood Map | Front-End Nanodegree
        meta(charset='utf-8')
        meta(name='viewport', content='initial-scale=1.0')
        link(href='images/favicon.png', rel='icon', type='image/png')
        style.
            html, body {
                box-sizing: border-box;
                font-size: 16px;
                height: 100%;
                width: 100%;
                padding: 0;
                margin: 0;
                border: 0;
                background-color: black;
            }
            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                border: 0;
            }
            .loader-container {
                font-family: "Lucida Console", Monaco, monospace;
                font-size: 16px;
                height: 100%;
                width: 100%;
                background-color: white;
                text-align: center;
                z-index: 999;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .loader {
                height: 3em;
                width: 3em;
                border-top: 0.5em solid #7CB3F5;
                border-bottom: 0.5em solid #bbd6ff;
                border-right: 0.5em solid #7CB3F5;
                border-left: 0.5em solid #bbd6ff;
                border-radius: 100%;
                animation: spin 3s linear 0.5s infinite normal;
            }
            .loader-container.hidden {
                display:none;
            }
            #page-loader {
                position: fixed;
                z-index: 100;
            }
            #map-loader {
                background-color: #E9E8E6;
            }
            #map-loader > .loader {
                border-top: 0.5em solid #737373;
                border-bottom: 0.5em solid #a0a0a0;
                border-right: 0.5em solid #737373;
                border-left: 0.5em solid #a0a0a0;
            }
            @keyframes spin {
                from { transform: rotate(0deg); }
                to { transform: rotate(360deg); }
            }

        // External Stylesheets
        //build:css stylesheets/css/main.min.css
        link(rel='stylesheet', href='stylesheets/css/main.css')
        //endbuild
    body
        #page-loader.loader-container
            .loader
        section#menu.menu
            header
                a(href='https://github.com/mggwxyz/frontend-nanodegree-neighborhood-map')
                    img#github-icon.github-icon(src='images/github-icon.svg', alt='github icon')
                h1 Neighborhood Map
                |
                a(href='', data-bind='click: toggleMenu')
                    img#map-icon.map-icon(src='images/map-icon.svg', title='Close Map Menu', alt='Close Map Menu')
            #input-pane
                .input-container
                    label(for='search') Search
                    |
                    input#search(name='search', type='text', placeholder='Type here to search for places...', data-bind="value: searchText, valueUpdate: 'keyup'")
                .input-container
                    label(for='filter') Filter
                    |
                    input#filter(name='filter', type='text', placeholder='Type here to filter out places...', data-bind="value: filterText, valueUpdate: 'keyup'")
            #places-pane.is-loading
                #places-loader.loader-container
                    .loader
                ul.hidden(data-bind='{ foreach: places, css: { hidden: loadingPlaces } }')
                    li
                        a(data-bind='click: $parent.getYelpInfo', href='')
                            .place-name(data-bind='text: name')
        main#map.map.map-close
            #map-loader.map.loader-container
                .loader
        |
        img#menu-icon.menu-icon(data-bind='click: toggleMenu', src='images/hamburger.svg', title='Open Map Menu', alt='Open Map Menu')

        // Javascript Dependencies
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
        script(src='https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js')

        //build:js js/main.min.js
        script(src='js/oauth-signature.min.js')
        script(src='js/app.js')
        //endbuild

        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDmHmd5m8E8zJkXRcMPgDK9fYuoXrfYD0A&callback=initMap&libraries=places,visualization', async='', defer='', onerror='handleError()')
